LanguageRecognitionAPI/XmlData/languageXML.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="friquency_pair" >
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element name="pair">
          <xs:complexType>
            <xs:attribute name="character" type="xs:string"></xs:attribute>
            <xs:attribute name="frequency" type="xs:double"></xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>